page-setings {
  ion-navbar{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  ion-col{
  }
  .image {
     height: 50vw;
     width: 50vw;
     border: 2px solid #fff;
     border-radius: 50%;
     box-shadow: 0 0 5px gray;
     margin: auto;
}
}
