page-home {
ion-nav{
  text-align: center;
}
ion-col {
    text-align: center;
  }
.seta{
  font-size: 25px;
  color: #3182ff;
}  button{
  color: inherit;
  background-color: inherit;
  padding: 0px;
}
ion-navbar{
  text-align: center;
}
.mes{
  margin: auto;
  font-size: 20px;
}
.cabecalho{
  border: 2px solid #3182ff;
  border-radius: 20%;
}
.line-rigth{
    border-right: 1px solid #ddd;
}
div{
  color: #444;
}
}
